{
  "openapi": "3.1.0",
  "info": {
    "title": "ekiden-gateway",
    "description": "API Gateway and WebSocket proxy based on Axum and Utoipa, handling auth, rate limiting, and connection buffering.",
    "license": {
      "name": ""
    },
    "version": "0.1.1"
  },
  "servers": [
    {
      "url": "https://api.ekiden.fi/",
      "description": "Production"
    },
    {
      "url": "https://api.staging.ekiden.fi/",
      "description": "Staging"
    },
    {
      "url": "https://api.dev.ekiden.fi/",
      "description": "Development"
    },
    {
      "url": "http://localhost:4020/",
      "description": "Local"
    }
  ],
  "paths": {
    "/api/v1/account/balance": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Get Account Balance",
        "description": "Query account balances. Returns all subaccounts' vault balances.",
        "operationId": "get_account_balance",
        "responses": {
          "200": {
            "description": "Balances",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAccountBalanceResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/api/v1/account/fund": {
      "post": {
        "tags": [
          "Account"
        ],
        "operationId": "fund",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FundRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Funding request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FundResult"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/account/withdraw-from-trading": {
      "post": {
        "tags": [
          "Account"
        ],
        "summary": "Withdraw from Trading",
        "description": "Initiate a withdrawal from a Trading vault to the Funding vault.",
        "operationId": "withdraw_from_trading",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WithdrawFromTradingRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Withdrawal initiated"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/api/v1/authorize": {
      "post": {
        "tags": [
          "User"
        ],
        "summary": "Authorize User",
        "description": "Authorize and obtain an access token",
        "operationId": "authorize",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuthorizeRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successfully authorized and token generated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthorizeResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/authorize/session": {
      "post": {
        "tags": [
          "User"
        ],
        "summary": "Authorize Session",
        "description": "Authorize a session key via delegation",
        "operationId": "authorize_session",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SessionAuthRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successfully authorized and token generated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthorizeResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/execution/list": {
      "get": {
        "tags": [
          "Trade"
        ],
        "summary": "Get Trade History",
        "description": "Query users' execution records, sorted by execTime in descending order.",
        "operationId": "get_trade_history",
        "parameters": [
          {
            "name": "sub_account_address",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "symbol",
            "in": "query",
            "required": false,
            "schema": {
              "oneOf": [
                {
                  "type": "null"
                },
                {
                  "$ref": "#/components/schemas/Symbol"
                }
              ]
            }
          },
          {
            "name": "order_id",
            "in": "query",
            "required": false,
            "schema": {
              "oneOf": [
                {
                  "type": "null"
                },
                {
                  "$ref": "#/components/schemas/OrderId"
                }
              ]
            }
          },
          {
            "name": "order_link_id",
            "in": "query",
            "required": false,
            "schema": {
              "oneOf": [
                {
                  "type": "null"
                },
                {
                  "$ref": "#/components/schemas/OrderLinkId"
                }
              ]
            }
          },
          {
            "name": "start_time",
            "in": "query",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ],
              "format": "date-time"
            }
          },
          {
            "name": "end_time",
            "in": "query",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ],
              "format": "date-time"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": [
                "integer",
                "null"
              ],
              "format": "int32",
              "minimum": 0
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Trade history",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetTradeHistoryResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/api/v1/info": {
      "get": {
        "tags": [
          "System"
        ],
        "summary": "Get system configuration and discovery info",
        "operationId": "get_system_info",
        "responses": {
          "200": {
            "description": "System info retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SystemInfo"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/market/account-ratio": {
      "get": {
        "tags": [
          "Market"
        ],
        "summary": "Get Long Short Ratio",
        "description": "This refers to the net long and short positions as percentages of all position holders during the selected time.\nLong account ratio = Number of holders with long positions / Total number of holders\nShort account ratio = Number of holders with short positions / Total number of holders\nLong-short account ratio = Long account ratio / Short account ratio",
        "operationId": "get_long_short_ratio",
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Symbol"
            }
          },
          {
            "name": "period",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/IntervalTime"
            }
          },
          {
            "name": "start_time",
            "in": "query",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ],
              "format": "date-time"
            }
          },
          {
            "name": "end_time",
            "in": "query",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ],
              "format": "date-time"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": [
                "integer",
                "null"
              ],
              "format": "int32",
              "minimum": 0
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Cursor. Use the next_page_cursor token from the response to retrieve the next page of the data set",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Long short ratio data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetLongShortRatioResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/market/funding/history": {
      "get": {
        "tags": [
          "Market"
        ],
        "summary": "Get Funding Rate History",
        "description": "Query for historical funding rates. Each symbol has a different funding interval. For example, if the interval is 8 hours and the current time is UTC 12, then it returns the last funding rate, which settled at UTC 8.",
        "operationId": "get_funding_rate_history",
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Symbol"
            }
          },
          {
            "name": "start_time",
            "in": "query",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ],
              "format": "date-time"
            }
          },
          {
            "name": "end_time",
            "in": "query",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ],
              "format": "date-time"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": [
                "integer",
                "null"
              ],
              "format": "int32",
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Funding rate history",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetFundingRateHistoryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/market/index-price-kline": {
      "get": {
        "tags": [
          "Market"
        ],
        "summary": "Get Index Price Kline",
        "description": "Query for historical index price klines. Charts are returned in groups based on the requested interval.",
        "operationId": "get_index_price_kline",
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Symbol"
            }
          },
          {
            "name": "interval",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Interval"
            }
          },
          {
            "name": "start_time",
            "in": "query",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ],
              "format": "date-time"
            }
          },
          {
            "name": "end_time",
            "in": "query",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ],
              "format": "date-time"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": [
                "integer",
                "null"
              ],
              "format": "int32",
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Klines",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPriceKlineResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/market/instruments-info": {
      "get": {
        "tags": [
          "Market"
        ],
        "operationId": "get_instruments_info",
        "responses": {
          "200": {
            "description": "Get all instruments information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetInstrumentsInfoResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/market/kline": {
      "get": {
        "tags": [
          "Market"
        ],
        "summary": "Get Kline",
        "description": "Query for historical klines (also known as candles/candlesticks). Charts are returned in groups based on the requested interval.",
        "operationId": "get_kline",
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Symbol"
            }
          },
          {
            "name": "interval",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Interval"
            }
          },
          {
            "name": "start_time",
            "in": "query",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ],
              "format": "date-time"
            }
          },
          {
            "name": "end_time",
            "in": "query",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ],
              "format": "date-time"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": [
                "integer",
                "null"
              ],
              "format": "int32",
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Klines",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetKlineResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/market/mark-price-kline": {
      "get": {
        "tags": [
          "Market"
        ],
        "summary": "Get Mark Price Kline",
        "description": "Query for historical mark price klines. Charts are returned in groups based on the requested interval.",
        "operationId": "get_mark_price_kline",
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Symbol"
            }
          },
          {
            "name": "interval",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Interval"
            }
          },
          {
            "name": "start_time",
            "in": "query",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ],
              "format": "date-time"
            }
          },
          {
            "name": "end_time",
            "in": "query",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ],
              "format": "date-time"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": [
                "integer",
                "null"
              ],
              "format": "int32",
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Klines",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPriceKlineResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/market/open-interest": {
      "get": {
        "tags": [
          "Market"
        ],
        "summary": "Get Open Interest",
        "description": "Get the open interest of each symbol.",
        "operationId": "get_open_interest",
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Symbol"
            }
          },
          {
            "name": "interval",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/IntervalTime"
            }
          },
          {
            "name": "start_time",
            "in": "query",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ],
              "format": "date-time"
            }
          },
          {
            "name": "end_time",
            "in": "query",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ],
              "format": "date-time"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": [
                "integer",
                "null"
              ],
              "format": "int32",
              "minimum": 0
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Open interest data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetOpenInterestResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/market/orderbook": {
      "get": {
        "tags": [
          "Market"
        ],
        "summary": "Get Orderbook",
        "description": "Query for orderbook depth data.",
        "operationId": "get_orderbook",
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Symbol"
            }
          },
          {
            "name": "depth",
            "in": "query",
            "description": "Depth level",
            "required": false,
            "schema": {
              "oneOf": [
                {
                  "type": "null"
                },
                {
                  "$ref": "#/components/schemas/Depth"
                }
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Orderbook",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetOrderBookResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/market/price-limit": {
      "get": {
        "tags": [
          "Market"
        ],
        "summary": "Get Order Price Limit",
        "description": "Query for order price limit parameters.",
        "operationId": "get_order_price_limit",
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Symbol"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Order price limit",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderPriceLimit"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/market/recent-trade": {
      "get": {
        "tags": [
          "Market"
        ],
        "summary": "Get Recent Trades",
        "description": "Query for recent public trades, optionally filtered by symbol.",
        "operationId": "get_recent_trade",
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "required": false,
            "schema": {
              "oneOf": [
                {
                  "type": "null"
                },
                {
                  "$ref": "#/components/schemas/Symbol"
                }
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": [
                "integer",
                "null"
              ],
              "format": "int32",
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Recent trades",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetRecentTradeResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          }
        }
      }
    },
    "/api/v1/market/risk-limit": {
      "get": {
        "tags": [
          "Market"
        ],
        "summary": "Get Risk Limit",
        "description": "Query for the risk limit margin parameters.",
        "operationId": "get_risk_limit",
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "required": false,
            "schema": {
              "oneOf": [
                {
                  "type": "null"
                },
                {
                  "$ref": "#/components/schemas/Symbol"
                }
              ]
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Cursor. Use the next_page_cursor token from the response to retrieve the next page of the data set",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Risk limit",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetRiskLimitResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/market/tickers": {
      "get": {
        "tags": [
          "Market"
        ],
        "summary": "Get Tickers",
        "description": "Query for the latest price snapshot, best bid/ask price, and trading volume in the last 24 hours.",
        "operationId": "get_tickers",
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "required": false,
            "schema": {
              "oneOf": [
                {
                  "type": "null"
                },
                {
                  "$ref": "#/components/schemas/Symbol"
                }
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Tickers",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetTickersResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found: tickers"
          }
        }
      }
    },
    "/api/v1/order/amend": {
      "post": {
        "tags": [
          "Trade"
        ],
        "summary": "Amend Order",
        "description": "Amend an existing order",
        "operationId": "amend_order",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AmendOrderRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Order amended",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AmendOrderResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/api/v1/order/amend-batch": {
      "post": {
        "tags": [
          "Trade"
        ],
        "summary": "Batch Amend Orders",
        "description": "Amend multiple existing orders in a single request",
        "operationId": "batch_amend_orders",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchAmendOrdersRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Orders amended",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchAmendOrdersResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/api/v1/order/cancel": {
      "post": {
        "tags": [
          "Trade"
        ],
        "summary": "Cancel Order",
        "description": "Cancel an existing order",
        "operationId": "cancel_order",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CancelOrderRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Order canceled",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CancelOrderResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/api/v1/order/cancel-all": {
      "post": {
        "tags": [
          "Trade"
        ],
        "summary": "Cancel All Orders",
        "description": "Cancel all existing orders for a user",
        "operationId": "cancel_all_orders",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CancelAllOrdersRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Orders canceled",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CancelAllOrdersResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/api/v1/order/cancel-batch": {
      "post": {
        "tags": [
          "Trade"
        ],
        "summary": "Batch Cancel Orders",
        "description": "Cancel multiple existing orders in a single request",
        "operationId": "batch_cancel_orders",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchCancelOrdersRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Orders canceled",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchCancelOrdersResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/api/v1/order/history": {
      "get": {
        "tags": [
          "Trade"
        ],
        "summary": "Get Order History",
        "description": "Query order history. As order creation/cancellation is asynchronous, the data returned from this endpoint may delay.",
        "operationId": "get_history_orders",
        "parameters": [
          {
            "name": "sub_account_address",
            "in": "query",
            "description": "Trading vault address (subaccount) to query against.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "symbol",
            "in": "query",
            "required": false,
            "schema": {
              "oneOf": [
                {
                  "type": "null"
                },
                {
                  "$ref": "#/components/schemas/Symbol"
                }
              ]
            }
          },
          {
            "name": "order_id",
            "in": "query",
            "required": false,
            "schema": {
              "oneOf": [
                {
                  "type": "null"
                },
                {
                  "$ref": "#/components/schemas/OrderId"
                }
              ]
            }
          },
          {
            "name": "order_link_id",
            "in": "query",
            "required": false,
            "schema": {
              "oneOf": [
                {
                  "type": "null"
                },
                {
                  "$ref": "#/components/schemas/OrderLinkId"
                }
              ]
            }
          },
          {
            "name": "order_filter",
            "in": "query",
            "required": false,
            "schema": {
              "oneOf": [
                {
                  "type": "null"
                },
                {
                  "$ref": "#/components/schemas/OrderFilter"
                }
              ]
            }
          },
          {
            "name": "order_status",
            "in": "query",
            "required": false,
            "schema": {
              "type": [
                "array",
                "null"
              ],
              "items": {
                "$ref": "#/components/schemas/OrderStatus"
              }
            }
          },
          {
            "name": "start_time",
            "in": "query",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ],
              "format": "date-time"
            }
          },
          {
            "name": "end_time",
            "in": "query",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ],
              "format": "date-time"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": [
                "integer",
                "null"
              ],
              "format": "int32",
              "minimum": 0
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Orders",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderListResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/api/v1/order/place": {
      "post": {
        "tags": [
          "Trade"
        ],
        "summary": "Place Order",
        "description": "Create a new order",
        "operationId": "place_order",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PlaceOrderRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Order placed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlaceOrderResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/api/v1/order/place-batch": {
      "post": {
        "tags": [
          "Trade"
        ],
        "summary": "Batch Place Orders",
        "description": "Create multiple new orders in a single request",
        "operationId": "batch_place_orders",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchPlaceOrdersRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Orders placed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchPlaceOrdersResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/api/v1/order/realtime": {
      "get": {
        "tags": [
          "Trade"
        ],
        "summary": "Get Open & Closed Orders",
        "description": "Primarily query unfilled or partially filled orders in real-time, but also supports querying recent 500 closed status (Cancelled, Filled) orders. Please see the usage of request param open_only.",
        "operationId": "get_realtime_orders",
        "parameters": [
          {
            "name": "sub_account_address",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "symbol",
            "in": "query",
            "description": "Symbol name",
            "required": false,
            "schema": {
              "oneOf": [
                {
                  "type": "null"
                },
                {
                  "$ref": "#/components/schemas/Symbol"
                }
              ]
            }
          },
          {
            "name": "order_id",
            "in": "query",
            "description": "Order ID",
            "required": false,
            "schema": {
              "oneOf": [
                {
                  "type": "null"
                },
                {
                  "$ref": "#/components/schemas/OrderId"
                }
              ]
            }
          },
          {
            "name": "order_link_id",
            "in": "query",
            "description": "User customised order ID",
            "required": false,
            "schema": {
              "oneOf": [
                {
                  "type": "null"
                },
                {
                  "$ref": "#/components/schemas/OrderLinkId"
                }
              ]
            }
          },
          {
            "name": "open_only",
            "in": "query",
            "description": "* `true` (default): query open status orders (New or PartiallyFilled).\n* `false`: query a maximum of recent 500 closed status orders (Cancelled, Rejected, Filled).",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "order_filter",
            "in": "query",
            "required": false,
            "schema": {
              "oneOf": [
                {
                  "type": "null"
                },
                {
                  "$ref": "#/components/schemas/OrderFilter"
                }
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": [
                "integer",
                "null"
              ],
              "format": "int32",
              "minimum": 0
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Orders",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderListResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/api/v1/position/closed-pnl": {
      "get": {
        "tags": [
          "Position"
        ],
        "summary": "Get Closed PnL",
        "description": "Query user's closed profit and loss records",
        "operationId": "get_closed_pnl",
        "parameters": [
          {
            "name": "sub_account_address",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "symbol",
            "in": "query",
            "required": false,
            "schema": {
              "oneOf": [
                {
                  "type": "null"
                },
                {
                  "$ref": "#/components/schemas/Symbol"
                }
              ]
            }
          },
          {
            "name": "start_time",
            "in": "query",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ],
              "format": "date-time"
            }
          },
          {
            "name": "end_time",
            "in": "query",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ],
              "format": "date-time"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": [
                "integer",
                "null"
              ],
              "format": "int32",
              "minimum": 0
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Closed PnL",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetClosedPnlResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/api/v1/position/list": {
      "get": {
        "tags": [
          "Position"
        ],
        "summary": "Get Position Info",
        "description": "Query real-time position data, such as position size, cumulative realized PNL, etc.",
        "operationId": "get_position_info",
        "parameters": [
          {
            "name": "sub_account_address",
            "in": "query",
            "description": "Trading vault address (subaccount) to query against.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "symbol",
            "in": "query",
            "required": false,
            "schema": {
              "oneOf": [
                {
                  "type": "null"
                },
                {
                  "$ref": "#/components/schemas/Symbol"
                }
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": [
                "integer",
                "null"
              ],
              "format": "int32",
              "minimum": 0
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Positions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPositionInfoResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/api/v1/position/set-leverage": {
      "post": {
        "tags": [
          "Position"
        ],
        "summary": "Set leverage",
        "description": "Set leverage for a symbol",
        "operationId": "set_leverage",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SetLeverageRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Leverage updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SetLeverageResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/api/v1/position/trading-stop": {
      "post": {
        "tags": [
          "Position"
        ],
        "summary": "Set Trading Stop",
        "description": "Set the take profit, stop loss or trailing stop for the position.",
        "operationId": "set_trading_stop",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SetTradingStopRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Trading stop set",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SetTradingStopResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/api/v1/user/api-keys": {
      "get": {
        "tags": [
          "user"
        ],
        "operationId": "list_api_keys",
        "responses": {
          "200": {
            "description": "List API keys",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListApiKeysResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "bearer_auth": []
          },
          {
            "api_key_auth": []
          }
        ]
      },
      "post": {
        "tags": [
          "user"
        ],
        "operationId": "create_api_key",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateApiKeyRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "API key created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateApiKeyResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "bearer_auth": []
          },
          {
            "api_key_auth": []
          }
        ]
      }
    },
    "/api/v1/user/api-keys/{id}": {
      "delete": {
        "tags": [
          "user"
        ],
        "operationId": "revoke_api_key",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "API Key ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "API key revoked"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "API key not found"
          }
        },
        "security": [
          {
            "bearer_auth": []
          },
          {
            "api_key_auth": []
          }
        ]
      }
    },
    "/api/v1/user/leaderboard": {
      "get": {
        "tags": [
          "User"
        ],
        "summary": "Get Leaderboard",
        "description": "Query leaderboard data",
        "operationId": "get_leaderboard",
        "parameters": [
          {
            "name": "timeframe",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Timeframe"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Leaderboard",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LeaderboardResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/user/root-account": {
      "get": {
        "tags": [
          "User"
        ],
        "summary": "Get Root Account",
        "description": "Return the Root Account address for the current user",
        "operationId": "get_root_account",
        "responses": {
          "200": {
            "description": "Root Account",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetRootAccountResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/api/v1/user/sub-accounts": {
      "get": {
        "tags": [
          "User"
        ],
        "summary": "Get Sub Accounts",
        "description": "List Sub Accounts under the Root Account",
        "operationId": "get_sub_accounts",
        "responses": {
          "200": {
            "description": "Sub Accounts",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetSubAccountsResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "AccountBalance": {
        "type": "object",
        "description": "Account-wide wallet and margin metrics.",
        "required": [
          "sub_account_address",
          "account_type",
          "equity",
          "vault_balance",
          "margin_balance",
          "available_balance",
          "accrued_interest",
          "total_order_im",
          "total_position_im",
          "total_position_mm",
          "unrealised_pnl",
          "unrealized_funding",
          "realised_pnl_cum"
        ],
        "properties": {
          "account_type": {
            "type": "string",
            "description": "Account type (e.g. Funding, Trading)"
          },
          "accrued_interest": {
            "type": "string",
            "description": "Accrued interest"
          },
          "available_balance": {
            "type": "string",
            "description": "The amount of an asset that can be used to open USDC Perpetual positions (USDC)"
          },
          "equity": {
            "type": "string",
            "description": "Equity under the account without considering the collateral value ratio (calculated in USDC).\nEquity = Vault Balance + Perp & Futures Unrealized P&L + Unrealized Funding"
          },
          "margin_balance": {
            "type": "string",
            "description": "Amount that can be used as margin under the account\nafter considering the collateral value ratio (calculated in USDC)\nTotal Vault Balance + Perp Unrealized P&L"
          },
          "realised_pnl_cum": {
            "type": "string",
            "description": "Cumulative Realised P&L"
          },
          "sub_account_address": {
            "type": "string",
            "description": "Sub-Account address (the owner of the technical vault)"
          },
          "total_order_im": {
            "type": "string",
            "description": "Pre-occupied margin for order. Locked balance (USDC)"
          },
          "total_position_im": {
            "type": "string",
            "description": "Sum of initial margin of all positions + Pre-occupied liquidation fee."
          },
          "total_position_mm": {
            "type": "string",
            "description": "Sum of maintenance margin for all positions."
          },
          "unrealised_pnl": {
            "type": "string",
            "description": "Unrealised P&L"
          },
          "unrealized_funding": {
            "type": "string",
            "description": "Aggregated unrealized funding across all positions (USDC)"
          },
          "vault_balance": {
            "type": "string",
            "description": "Vault Balance (USDC)"
          }
        }
      },
      "AdlRankIndicator": {
        "type": "string",
        "description": "Auto-deleverage rank indicator.",
        "enum": [
          "Zero",
          "One",
          "Two",
          "Three",
          "Four",
          "Five"
        ]
      },
      "AmendOrderRequest": {
        "type": "object",
        "description": "Request to amend an order.",
        "required": [
          "sub_account_address",
          "symbol",
          "size",
          "price"
        ],
        "properties": {
          "order_id": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "$ref": "#/components/schemas/OrderId"
              }
            ]
          },
          "order_iv": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64",
            "minimum": 0
          },
          "order_link_id": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "$ref": "#/components/schemas/OrderLinkId"
              }
            ]
          },
          "price": {
            "type": "integer",
            "format": "int64",
            "minimum": 0
          },
          "size": {
            "type": "integer",
            "format": "int64",
            "minimum": 0
          },
          "sub_account_address": {
            "type": "string"
          },
          "symbol": {
            "$ref": "#/components/schemas/Symbol"
          },
          "tpsl": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "$ref": "#/components/schemas/TpSl"
              }
            ]
          },
          "trigger": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "$ref": "#/components/schemas/ConditionalOrder"
              }
            ]
          }
        }
      },
      "AmendOrderResponse": {
        "type": "object",
        "description": "Response for amending an order.",
        "required": [
          "order_id"
        ],
        "properties": {
          "order_id": {
            "$ref": "#/components/schemas/OrderId"
          },
          "order_link_id": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "$ref": "#/components/schemas/OrderLinkId"
              }
            ]
          }
        }
      },
      "ApiKeyInfo": {
        "type": "object",
        "required": [
          "id",
          "public_key",
          "scopes",
          "created_at"
        ],
        "properties": {
          "created_at": {
            "type": "integer",
            "format": "int64"
          },
          "expires_at": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64"
          },
          "id": {
            "type": "string"
          },
          "name": {
            "type": [
              "string",
              "null"
            ]
          },
          "public_key": {
            "type": "string"
          },
          "scopes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Scope"
            }
          }
        }
      },
      "AuthorizeRequest": {
        "type": "object",
        "required": [
          "signature",
          "public_key",
          "timestamp_ms",
          "nonce"
        ],
        "properties": {
          "full_message": {
            "type": [
              "string",
              "null"
            ],
            "description": "Optional Aptos Wallet Standard full message (APTOS-prefixed, newline-delimited).\nIf provided, the backend will verify the signature against this exact string\nand also validate that it contains `message: AUTHORIZE|{timestamp_ms}|{nonce}` and a matching `nonce:`.\n\nExample:\n\nAPTOS\\nmessage: AUTHORIZE|1731541800000|b7d1c2e8f5a94f3db2f8c6a9d1e4\\nnonce: b7d1c2e8f5a94f3db2f8c6a9d1e4"
          },
          "nonce": {
            "type": "string",
            "description": "Example: b7d1c2e8f5a94f3db2f8c6a9d1e4"
          },
          "public_key": {
            "type": "string",
            "description": "Example: 0xa9d81da788977638194c857b918f12ff2233c7a86e82b44705761b2d02426f6d"
          },
          "signature": {
            "type": "string",
            "description": "Example: 0xf5ec808e52d014f5193eccf680acf84c6256bdddb0159088e7cb18d74b9c590b92eb4381e10307fccc0868612993dfb9a542257aab22d7a3decfda33045fb905"
          },
          "timestamp_ms": {
            "type": "integer",
            "format": "int64",
            "description": "Example: 1731541800000"
          }
        }
      },
      "AuthorizeResponse": {
        "type": "object",
        "required": [
          "token",
          "user_id"
        ],
        "properties": {
          "token": {
            "type": "string"
          },
          "user_id": {
            "$ref": "#/components/schemas/UserId"
          }
        }
      },
      "BatchAmendOrdersRequest": {
        "type": "object",
        "description": "Batch amend order request.\nYou can amend unfilled or partially filled orders.\nTODO: Maximum 20 orders per request",
        "required": [
          "request"
        ],
        "properties": {
          "request": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AmendOrderRequest"
            }
          }
        }
      },
      "BatchAmendOrdersResponse": {
        "type": "object",
        "description": "Response of batch amend orders.",
        "required": [
          "result",
          "exit_info",
          "time"
        ],
        "properties": {
          "exit_info": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ExitMessage"
            },
            "description": "Information about the exit status of each order in the batch."
          },
          "result": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AmendOrderResponse"
            }
          },
          "time": {
            "type": "string",
            "format": "date-time",
            "example": "1672531200000"
          }
        }
      },
      "BatchCancelOrdersRequest": {
        "type": "object",
        "description": "Batch cancel order request.\nYou can cancel unfilled or partially filled orders.\nTODO: Maximum 20 orders per request",
        "required": [
          "request"
        ],
        "properties": {
          "request": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CancelOrderRequest"
            }
          }
        }
      },
      "BatchCancelOrdersResponse": {
        "type": "object",
        "description": "Response of batch cancel orders.",
        "required": [
          "result",
          "exit_info",
          "time"
        ],
        "properties": {
          "exit_info": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ExitMessage"
            },
            "description": "Information about the exit status of each order in the batch."
          },
          "result": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CancelOrderResponse"
            }
          },
          "time": {
            "type": "string",
            "format": "date-time",
            "example": "1672531200000"
          }
        }
      },
      "BatchPlaceOrdersRequest": {
        "type": "object",
        "description": "Batch place order request.\nTODO: Maximum 20 orders per request\nTODO: Rate limiting (10 reqs per sec, 20 * 10 = 200 orders in one sec)",
        "required": [
          "request"
        ],
        "properties": {
          "request": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PlaceOrderRequest"
            }
          }
        }
      },
      "BatchPlaceOrdersResponse": {
        "type": "object",
        "description": "Response of batch place orders.",
        "required": [
          "result",
          "exit_info",
          "time"
        ],
        "properties": {
          "exit_info": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ExitMessage"
            },
            "description": "Information about the exit status of each order in the batch."
          },
          "result": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PlaceOrderResponse"
            }
          },
          "time": {
            "type": "string",
            "format": "date-time",
            "example": "1672531200000"
          }
        }
      },
      "CancelAllOrdersRequest": {
        "type": "object",
        "description": "Request to cancel all orders, optionally filtered by symbol\nTODO: Cancels up to 500 orders per request\nTODO: System picks up 500 orders randomly to cancel when you have over 500 orders",
        "required": [
          "sub_account_address"
        ],
        "properties": {
          "sub_account_address": {
            "type": "string"
          },
          "symbol": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "$ref": "#/components/schemas/Symbol"
              }
            ]
          }
        }
      },
      "CancelAllOrdersResponse": {
        "type": "object",
        "required": [
          "result",
          "exit_info",
          "time"
        ],
        "properties": {
          "exit_info": {
            "$ref": "#/components/schemas/ExitMessage",
            "description": "Information about the exit status of the cancel all operation."
          },
          "result": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CancelOrderResponse"
            }
          },
          "time": {
            "type": "string",
            "format": "date-time",
            "example": "1672531200000"
          }
        }
      },
      "CancelOrderRequest": {
        "type": "object",
        "description": "Request to cancel an order.",
        "required": [
          "sub_account_address",
          "symbol"
        ],
        "properties": {
          "order_id": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "$ref": "#/components/schemas/OrderId"
              }
            ]
          },
          "order_link_id": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "$ref": "#/components/schemas/OrderLinkId"
              }
            ]
          },
          "sub_account_address": {
            "type": "string"
          },
          "symbol": {
            "$ref": "#/components/schemas/Symbol"
          }
        }
      },
      "CancelOrderResponse": {
        "type": "object",
        "description": "Response for canceling an order.",
        "required": [
          "order_id"
        ],
        "properties": {
          "order_id": {
            "$ref": "#/components/schemas/OrderId"
          },
          "order_link_id": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "$ref": "#/components/schemas/OrderLinkId"
              }
            ]
          }
        }
      },
      "CancelType": {
        "type": "string",
        "description": "Reason/Source of the order cancellation.",
        "enum": [
          "CancelByUser",
          "CancelByAdmin",
          "CancelBySystem",
          "CancelByReduceOnly",
          "CancelByPrepareLiq",
          "CancelAllBeforeLiq",
          "CancelByPrepareAdl",
          "CancelAllBeforeAdl",
          "CancelBySettle",
          "CancelByTpSlTsClear",
          "CancelBySmp",
          "CancelByDcp",
          "CancelByRebalance",
          "CancelByOcoTpCanceledBySlTriggered",
          "CancelByOcoSlCanceledByTpTriggered"
        ]
      },
      "ClosedPnl": {
        "type": "object",
        "description": "Closed PnL entry.",
        "required": [
          "symbol",
          "order_id",
          "sub_account_address",
          "side",
          "qty",
          "order_price",
          "order_type",
          "exec_type",
          "closed_size",
          "cum_entry_value",
          "avg_entry_price",
          "cum_exit_value",
          "avg_exit_price",
          "closed_pnl",
          "fill_count",
          "leverage",
          "open_fee",
          "close_fee",
          "created_time",
          "updated_time"
        ],
        "properties": {
          "avg_entry_price": {
            "type": "string",
            "description": "Average entry price"
          },
          "avg_exit_price": {
            "type": "string",
            "description": "Average exit price"
          },
          "close_fee": {
            "type": "string",
            "description": "Close position trading fee"
          },
          "closed_pnl": {
            "type": "string",
            "description": "Closed PnL"
          },
          "closed_size": {
            "type": "string"
          },
          "created_time": {
            "type": "string",
            "format": "date-time",
            "example": "1672531200000"
          },
          "cum_entry_value": {
            "type": "string",
            "description": "Cumulated Position value"
          },
          "cum_exit_value": {
            "type": "string",
            "description": "Cumulated exit position value"
          },
          "exec_type": {
            "$ref": "#/components/schemas/ExecType"
          },
          "fill_count": {
            "type": "string",
            "description": "The number of fills in a single order"
          },
          "leverage": {
            "type": "string",
            "description": "Leverage"
          },
          "open_fee": {
            "type": "string",
            "description": "Open position trading fee"
          },
          "order_id": {
            "$ref": "#/components/schemas/OrderId"
          },
          "order_price": {
            "type": "string"
          },
          "order_type": {
            "$ref": "#/components/schemas/OrderType"
          },
          "qty": {
            "type": "string"
          },
          "side": {
            "$ref": "#/components/schemas/Side"
          },
          "sub_account_address": {
            "type": "string"
          },
          "symbol": {
            "$ref": "#/components/schemas/Symbol"
          },
          "updated_time": {
            "type": "string",
            "format": "date-time",
            "example": "1672531200000"
          }
        }
      },
      "ConditionalOrder": {
        "type": "object",
        "required": [
          "trigger_price",
          "trigger_direction",
          "trigger_by"
        ],
        "properties": {
          "trigger_by": {
            "$ref": "#/components/schemas/TriggerBy",
            "description": "Last Price, Mark Price, or Index Price."
          },
          "trigger_direction": {
            "$ref": "#/components/schemas/TriggerDirection",
            "description": "Up or Down."
          },
          "trigger_price": {
            "type": "string",
            "description": "The price level that activates the order."
          }
        }
      },
      "CreateApiKeyRequest": {
        "type": "object",
        "required": [
          "name",
          "public_key",
          "scopes"
        ],
        "properties": {
          "expires_at": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64"
          },
          "name": {
            "type": "string"
          },
          "public_key": {
            "type": "string"
          },
          "scopes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Scope"
            }
          }
        }
      },
      "CreateApiKeyResponse": {
        "type": "object",
        "required": [
          "id",
          "public_key",
          "scopes",
          "created_at"
        ],
        "properties": {
          "created_at": {
            "type": "integer",
            "format": "int64"
          },
          "expires_at": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64"
          },
          "id": {
            "type": "string"
          },
          "public_key": {
            "type": "string"
          },
          "scopes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Scope"
            }
          }
        }
      },
      "CreateType": {
        "type": "string",
        "enum": [
          "CreateByUser",
          "CreateByFutureSpread",
          "CreateByAdminClosing",
          "CreateBySettle",
          "CreateByStopOrder",
          "CreateByTakeProfit",
          "CreateByPartialTakeProfit",
          "CreateByStopLoss",
          "CreateByPartialStopLoss",
          "CreateByTrailingStop",
          "CreateByTrailingProfit",
          "CreateByLiq",
          "CreateByTakeOverPassThrough",
          "CreateByAdlPassThrough",
          "CreateByBlockPassThrough",
          "CreateByBlockTradeMovePositionPassThrough",
          "CreateByClosing",
          "CreateByFGridBot",
          "CloseByFGridBot",
          "CreateByTWAP",
          "CreateByTVSignal",
          "CreateByMmRateClose",
          "CreateByMartingaleBot",
          "CloseByMartingaleBot",
          "CreateByIceBerg",
          "CreateByArbitrage",
          "CreateByDdh",
          "CreateByBboOrder"
        ]
      },
      "ErrorResponse": {
        "type": "object",
        "required": [
          "error",
          "message"
        ],
        "properties": {
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "reset_time": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64",
            "minimum": 0
          },
          "retry_after": {
            "type": [
              "string",
              "null"
            ]
          }
        }
      },
      "ExecType": {
        "type": "string",
        "description": "Execution type for trade history entries.",
        "enum": [
          "Trade",
          "AdlTrade",
          "Funding",
          "BustTrade",
          "Delivery",
          "Settle",
          "BlockTrade",
          "MovePosition",
          "FutureSpread"
        ]
      },
      "Execution": {
        "type": "object",
        "description": "Single execution (trade fill) record.",
        "required": [
          "exec_id",
          "symbol",
          "order_id",
          "side",
          "sub_account_address",
          "order_price",
          "order_qty",
          "leaves_qty",
          "order_type",
          "exec_price",
          "exec_qty",
          "exec_value",
          "exec_type",
          "exec_time",
          "is_maker",
          "fee_rate",
          "mark_price",
          "index_price",
          "seq"
        ],
        "properties": {
          "closed_size": {
            "type": [
              "string",
              "null"
            ],
            "description": "Closed position size"
          },
          "create_type": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "$ref": "#/components/schemas/CreateType",
                "description": "Order create type"
              }
            ]
          },
          "exec_id": {
            "$ref": "#/components/schemas/ExecutionId",
            "description": "Execution ID"
          },
          "exec_price": {
            "type": "string",
            "description": "Execution price"
          },
          "exec_qty": {
            "type": "string",
            "description": "Execution quantity"
          },
          "exec_time": {
            "type": "string",
            "format": "date-time",
            "description": "Executed timestamp (ms)",
            "example": "1672531200000"
          },
          "exec_type": {
            "$ref": "#/components/schemas/ExecType",
            "description": "Execution type (e.g. Trade, Adl, Bust)"
          },
          "exec_value": {
            "type": "string",
            "description": "Executed value (price * qty)"
          },
          "fee_rate": {
            "type": "string",
            "description": "Trading fee rate"
          },
          "index_price": {
            "type": "string",
            "description": "Index price at execution"
          },
          "is_maker": {
            "type": "boolean",
            "description": "Is maker order. true: maker, false: taker"
          },
          "leaves_qty": {
            "type": "string",
            "description": "Remaining quantity not yet executed after this fill"
          },
          "mark_price": {
            "type": "string",
            "description": "Mark price at execution"
          },
          "order_id": {
            "$ref": "#/components/schemas/OrderId"
          },
          "order_link_id": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "$ref": "#/components/schemas/OrderLinkId"
              }
            ]
          },
          "order_price": {
            "type": "string",
            "description": "Original order price"
          },
          "order_qty": {
            "type": "string",
            "description": "Original order quantity"
          },
          "order_type": {
            "$ref": "#/components/schemas/OrderType",
            "description": "Order type. Market or Limit"
          },
          "seq": {
            "type": "integer",
            "format": "int64",
            "description": "Cross sequence, used to associate each fill and each position update\n* The seq will be the same when conclude multiple transactions at the same time\n* Different symbols may have the same seq, please use seq + symbol to check unique",
            "minimum": 0
          },
          "side": {
            "$ref": "#/components/schemas/Side",
            "description": "Side. Buy or Sell"
          },
          "stop_order_type": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "$ref": "#/components/schemas/StopOrderType",
                "description": "Stop order type if this was a stop order"
              }
            ]
          },
          "sub_account_address": {
            "type": "string"
          },
          "symbol": {
            "$ref": "#/components/schemas/Symbol",
            "description": "Symbol name, e.g. BTCUSDC"
          }
        }
      },
      "ExecutionId": {
        "type": "string",
        "format": "uuid"
      },
      "ExitMessage": {
        "oneOf": [
          {
            "type": "object",
            "required": [
              "Error"
            ],
            "properties": {
              "Error": {
                "type": "object",
                "required": [
                  "code",
                  "msg"
                ],
                "properties": {
                  "code": {
                    "type": "integer",
                    "format": "int32",
                    "minimum": 0
                  },
                  "msg": {
                    "$ref": "#/components/schemas/String"
                  }
                }
              }
            }
          },
          {
            "type": "object",
            "required": [
              "Success"
            ],
            "properties": {
              "Success": {
                "type": "object",
                "required": [
                  "code",
                  "msg"
                ],
                "properties": {
                  "code": {
                    "type": "integer",
                    "format": "int32",
                    "minimum": 0
                  },
                  "msg": {
                    "type": "string"
                  }
                }
              }
            }
          }
        ]
      },
      "FundRequest": {
        "type": "object",
        "required": [
          "receiver",
          "metadatas",
          "amounts"
        ],
        "properties": {
          "amounts": {
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int64",
              "minimum": 0
            }
          },
          "metadatas": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "receiver": {
            "type": "string"
          },
          "request_id": {
            "type": [
              "string",
              "null"
            ]
          }
        }
      },
      "FundResult": {
        "type": "object",
        "required": [
          "txid"
        ],
        "properties": {
          "txid": {
            "type": "string"
          }
        }
      },
      "FundingRateHistory": {
        "type": "object",
        "required": [
          "symbol",
          "funding_rate",
          "funding_time"
        ],
        "properties": {
          "funding_rate": {
            "type": "string"
          },
          "funding_time": {
            "type": "string",
            "format": "date-time",
            "example": "1672531200000"
          },
          "symbol": {
            "$ref": "#/components/schemas/Symbol"
          }
        }
      },
      "GetAccountBalanceResponse": {
        "type": "object",
        "description": "Account balance response structure.",
        "required": [
          "list"
        ],
        "properties": {
          "list": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AccountBalance"
            }
          }
        }
      },
      "GetClosedPnlResponse": {
        "type": "object",
        "description": "Closed PnL response.",
        "required": [
          "list",
          "next_page_cursor"
        ],
        "properties": {
          "list": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ClosedPnl"
            }
          },
          "next_page_cursor": {
            "type": "string"
          }
        }
      },
      "GetFundingRateHistoryResponse": {
        "type": "object",
        "description": "Funding rate history response.",
        "required": [
          "list"
        ],
        "properties": {
          "list": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FundingRateHistory"
            }
          }
        }
      },
      "GetInstrumentsInfoResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/SystemInfo"
          },
          {
            "type": "object",
            "required": [
              "category",
              "list"
            ],
            "properties": {
              "category": {
                "type": "string"
              },
              "list": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/InstrumentInfo"
                }
              }
            }
          }
        ]
      },
      "GetKlineResponse": {
        "type": "object",
        "description": "Kline response.",
        "required": [
          "symbol",
          "list"
        ],
        "properties": {
          "list": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/KlineSnapshot"
            }
          },
          "symbol": {
            "$ref": "#/components/schemas/Symbol"
          }
        }
      },
      "GetLongShortRatioResponse": {
        "type": "object",
        "description": "This refers to the net long and short positions as percentages of all position holders during the selected time.",
        "required": [
          "list",
          "next_page_cursor"
        ],
        "properties": {
          "list": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LongShortRatio"
            }
          },
          "next_page_cursor": {
            "type": "string"
          }
        }
      },
      "GetOpenInterestResponse": {
        "type": "object",
        "description": "Open interest response.",
        "required": [
          "symbol",
          "list",
          "next_page_cursor"
        ],
        "properties": {
          "list": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OpenInterest"
            }
          },
          "next_page_cursor": {
            "type": "string"
          },
          "symbol": {
            "$ref": "#/components/schemas/Symbol"
          }
        }
      },
      "GetOrderBookResponse": {
        "type": "object",
        "description": "Get OrderBook response.",
        "required": [
          "result",
          "time"
        ],
        "properties": {
          "result": {
            "$ref": "#/components/schemas/OrderBookSnapshot"
          },
          "time": {
            "type": "string",
            "format": "date-time",
            "example": "1672531200000"
          }
        }
      },
      "GetPositionInfoResponse": {
        "type": "object",
        "description": "Position info response.",
        "required": [
          "list",
          "next_page_cursor"
        ],
        "properties": {
          "list": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Position"
            }
          },
          "next_page_cursor": {
            "type": "string",
            "description": "Cursor. Use the next_page_cursor token from the response to retrieve the next page of the data set"
          }
        }
      },
      "GetPriceKlineResponse": {
        "type": "object",
        "description": "Price-only kline response.",
        "required": [
          "symbol",
          "list"
        ],
        "properties": {
          "list": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PriceKlineSnapshot"
            }
          },
          "symbol": {
            "$ref": "#/components/schemas/Symbol"
          }
        }
      },
      "GetRecentTradeResponse": {
        "type": "object",
        "description": "Response for recent public trades.",
        "required": [
          "list"
        ],
        "properties": {
          "list": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PublicTrade"
            }
          }
        }
      },
      "GetRiskLimitResponse": {
        "type": "object",
        "description": "Risk limit response.",
        "required": [
          "list",
          "next_page_cursor"
        ],
        "properties": {
          "list": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RiskLimit"
            }
          },
          "next_page_cursor": {
            "type": "string"
          }
        }
      },
      "GetRootAccountResponse": {
        "type": "object",
        "required": [
          "root_addr"
        ],
        "properties": {
          "root_addr": {
            "type": "string"
          }
        }
      },
      "GetSubAccountsResponse": {
        "type": "object",
        "required": [
          "sub_account_addresses"
        ],
        "properties": {
          "sub_account_addresses": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "GetTickersResponse": {
        "type": "object",
        "description": "Ticker snapshots response.",
        "required": [
          "list"
        ],
        "properties": {
          "list": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TickerSnapshot"
            }
          }
        }
      },
      "GetTradeHistoryResponse": {
        "type": "object",
        "description": "Response for trade history queries.",
        "required": [
          "list"
        ],
        "properties": {
          "list": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Execution"
            }
          },
          "next_page_cursor": {
            "type": [
              "string",
              "null"
            ]
          }
        }
      },
      "InstrumentInfo": {
        "type": "object",
        "required": [
          "symbol",
          "status",
          "base_coin",
          "quote_coin",
          "launch_time",
          "delivery_time",
          "delivery_fee_rate",
          "price_scale",
          "leverage_filter",
          "price_filter",
          "lot_size_filter",
          "unified_margin_trade",
          "funding_interval",
          "settle_coin",
          "addr",
          "quote_addr",
          "maker_fee_rate",
          "taker_fee_rate",
          "base_scale",
          "quote_scale"
        ],
        "properties": {
          "addr": {
            "type": "string"
          },
          "base_coin": {
            "type": "string"
          },
          "base_scale": {
            "type": "integer",
            "format": "int32",
            "minimum": 0
          },
          "delivery_fee_rate": {
            "type": "string"
          },
          "delivery_time": {
            "type": "string"
          },
          "funding_interval": {
            "type": "integer",
            "format": "int32",
            "minimum": 0
          },
          "launch_time": {
            "type": "string"
          },
          "leverage_filter": {
            "$ref": "#/components/schemas/LeverageFilter"
          },
          "lot_size_filter": {
            "$ref": "#/components/schemas/LotSizeFilter"
          },
          "maker_fee_rate": {
            "type": "string"
          },
          "price_filter": {
            "$ref": "#/components/schemas/PriceFilter"
          },
          "price_scale": {
            "type": "integer",
            "format": "int32",
            "minimum": 0
          },
          "quote_addr": {
            "type": "string"
          },
          "quote_coin": {
            "type": "string"
          },
          "quote_scale": {
            "type": "integer",
            "format": "int32",
            "minimum": 0
          },
          "settle_coin": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "symbol": {
            "type": "string"
          },
          "taker_fee_rate": {
            "type": "string"
          },
          "unified_margin_trade": {
            "type": "boolean"
          }
        }
      },
      "Interval": {
        "type": "string",
        "enum": [
          "1m",
          "3m",
          "5m",
          "15m",
          "30m",
          "1h",
          "2h",
          "4h",
          "6h",
          "12h",
          "1d",
          "3d",
          "1w",
          "1M"
        ]
      },
      "KlineSnapshot": {
        "type": "object",
        "required": [
          "t",
          "i",
          "o",
          "h",
          "l",
          "c",
          "T",
          "v",
          "n"
        ],
        "properties": {
          "T": {
            "type": "string",
            "format": "date-time",
            "description": "Candle close time (ms).",
            "example": "1672531200000"
          },
          "c": {
            "type": "string",
            "description": "Close - the price of the last trade in this candle (closing price)."
          },
          "h": {
            "type": "string",
            "description": "High - the highest trade price within this interval."
          },
          "i": {
            "$ref": "#/components/schemas/Interval",
            "description": "Candle interval - timeframe."
          },
          "l": {
            "type": "string",
            "description": "Low - the minimum trade price within this interval."
          },
          "n": {
            "type": "string",
            "description": "Trade count. The number of trades included in this candle"
          },
          "o": {
            "type": "string",
            "description": "Open - the price of the first trade in this candle (opening price)."
          },
          "t": {
            "type": "string",
            "format": "date-time",
            "description": "Candle open time (ms).",
            "example": "1672531200000"
          },
          "v": {
            "type": "string",
            "description": "Volume. the trading volume for the candle"
          }
        }
      },
      "LeaderboardData": {
        "type": "object",
        "required": [
          "place",
          "wallet",
          "account_value",
          "volume",
          "pnl",
          "roi"
        ],
        "properties": {
          "account_value": {
            "type": "string"
          },
          "place": {
            "type": "string"
          },
          "pnl": {
            "type": "string"
          },
          "roi": {
            "type": "string"
          },
          "volume": {
            "type": "string"
          },
          "wallet": {
            "type": "string"
          }
        }
      },
      "LeaderboardMeta": {
        "type": "object",
        "required": [
          "total"
        ],
        "properties": {
          "total": {
            "type": "integer",
            "format": "int64",
            "minimum": 0
          }
        }
      },
      "LeaderboardResponse": {
        "type": "object",
        "required": [
          "data",
          "meta"
        ],
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LeaderboardData"
            }
          },
          "meta": {
            "$ref": "#/components/schemas/LeaderboardMeta"
          }
        }
      },
      "LeverageFilter": {
        "type": "object",
        "required": [
          "min_leverage",
          "max_leverage",
          "leverage_step"
        ],
        "properties": {
          "leverage_step": {
            "type": "string"
          },
          "max_leverage": {
            "type": "string"
          },
          "min_leverage": {
            "type": "string"
          }
        }
      },
      "ListApiKeysResponse": {
        "type": "object",
        "required": [
          "keys"
        ],
        "properties": {
          "keys": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ApiKeyInfo"
            }
          }
        }
      },
      "LongShortRatio": {
        "type": "object",
        "required": [
          "symbol",
          "buy_ratio",
          "sell_ratio",
          "timestamp"
        ],
        "properties": {
          "buy_ratio": {
            "type": "string",
            "description": "The ratio of the number of long position"
          },
          "sell_ratio": {
            "type": "string",
            "description": "The ratio of the number of short position"
          },
          "symbol": {
            "$ref": "#/components/schemas/Symbol"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "example": "1672531200000"
          }
        }
      },
      "LotSizeFilter": {
        "type": "object",
        "required": [
          "max_order_qty",
          "min_order_qty",
          "qty_step",
          "post_only_max_order_qty",
          "max_mkt_order_qty",
          "min_notional_value"
        ],
        "properties": {
          "max_mkt_order_qty": {
            "type": "string"
          },
          "max_order_qty": {
            "type": "string"
          },
          "min_notional_value": {
            "type": "string"
          },
          "min_order_qty": {
            "type": "string"
          },
          "post_only_max_order_qty": {
            "type": "string"
          },
          "qty_step": {
            "type": "string"
          }
        }
      },
      "MarginMode": {
        "type": "string",
        "enum": [
          "Cross",
          "Isolated"
        ]
      },
      "OpenInterest": {
        "type": "object",
        "required": [
          "open_interest",
          "timestamp"
        ],
        "properties": {
          "open_interest": {
            "type": "string"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "example": "1672531200000"
          }
        }
      },
      "Order": {
        "type": "object",
        "description": "Summary information about an order.",
        "required": [
          "order_id",
          "symbol",
          "sub_account_address",
          "price",
          "qty",
          "side",
          "margin_mode",
          "order_status",
          "avg_price",
          "leaves_qty",
          "leaves_value",
          "cum_exec_qty",
          "cum_exec_value",
          "cum_exec_fee",
          "time_in_force",
          "order_type",
          "last_price_on_created",
          "post_only",
          "reduce_only",
          "close_on_trigger",
          "created_time",
          "updated_time"
        ],
        "properties": {
          "avg_price": {
            "type": "string",
            "description": "Average price at which part (or all) of the order has been executed (i.e. filled)"
          },
          "cancel_type": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "$ref": "#/components/schemas/CancelType"
              }
            ]
          },
          "close_on_trigger": {
            "type": "boolean"
          },
          "closed_pnl": {
            "type": [
              "string",
              "null"
            ],
            "description": "Closed profit and loss for each close position order.\nValid only in order WebSocket"
          },
          "create_type": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "$ref": "#/components/schemas/CreateType"
              }
            ]
          },
          "created_time": {
            "type": "string",
            "format": "date-time",
            "example": "1672531200000"
          },
          "cum_exec_fee": {
            "type": "string",
            "description": "Cumulative executed trading fee: the total fees charged so far for the executed portion of this order"
          },
          "cum_exec_qty": {
            "type": "string",
            "description": "Cumulative executed quantity: total amount of the order\nthat has already been filled/executed so far"
          },
          "cum_exec_value": {
            "type": "string",
            "description": "Cumulative executed value: the total value corresponding to the part of\nthe order that has already been filled. Basically: how much worth in total has been executed so far"
          },
          "expire_time": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "Expiration time for orders with a time-in-force of Good-Til-Date (GTD)",
            "example": "1672531200000"
          },
          "last_price_on_created": {
            "type": "string",
            "description": "Last price at the time the order was created"
          },
[...]
