{
  "openapi": "3.1.0",
  "info": {
    "title": "ekiden-gateway",
    "description": "API Gateway and WebSocket proxy based on Axum and Utoipa, handling auth, rate limiting, and connection buffering.",
    "license": {
      "name": ""
    },
    "version": "0.1.1"
  },
  "servers": [
    {
      "url": "https://api.ekiden.fi/",
      "description": "Production"
    },
    {
      "url": "https://api.cnt.ekiden.fi/",
      "description": "Testnet"
    },
    {
      "url": "https://api.canton.ekiden.fi/",
      "description": "Staging"
    }
  ],
  "paths": {
    "/api/v1/access/activate": {
      "post": {
        "tags": [
          "Access"
        ],
        "summary": "Activate a closed-launch access code",
        "operationId": "activate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccessActivateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Wallet activated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccessActivateResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid, expired, or revoked code"
          },
          "401": {
            "description": "Bad or stale signature"
          },
          "404": {
            "description": "Access module disabled"
          },
          "409": {
            "description": "Code already used or wallet already activated"
          },
          "429": {
            "description": "Rate limited"
          }
        }
      }
    },
    "/api/v1/account/balance": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Get Account Balance",
        "description": "Query account balances. Returns all subaccounts' vault balances.",
        "operationId": "get_account_balance",
        "responses": {
          "200": {
            "description": "Balances",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAccountBalanceResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/api/v1/account/fund": {
      "post": {
        "tags": [
          "Account"
        ],
        "operationId": "fund",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FundRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Funding request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FundResult"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/account/statistics": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Get Account Statistics",
        "description": "Query account equity, PnL, volume, and ROI. Optional step: hour/day/week/month. Newest `limit` rows (default 100, max 1000).",
        "operationId": "get_account_statistics",
        "parameters": [
          {
            "name": "sub_account_address",
            "in": "query",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ]
            }
          },
          {
            "name": "start_time",
            "in": "query",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ],
              "format": "date-time"
            }
          },
          {
            "name": "end_time",
            "in": "query",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ],
              "format": "date-time"
            }
          },
          {
            "name": "step",
            "in": "query",
            "required": false,
            "schema": {
              "oneOf": [
                {
                  "type": "null"
                },
                {
                  "type": "string",
                  "description": "Temporal resolution for statistics. Single-letter shorthands are allowed(h/d/w/m).",
                  "enum": [
                    "hour",
                    "day",
                    "week",
                    "month"
                  ]
                }
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": [
                "integer",
                "null"
              ],
              "format": "int32",
              "minimum": 0
            }
          },
          {
            "name": "sorting_order",
            "in": "query",
            "required": false,
            "schema": {
              "oneOf": [
                {
                  "type": "null"
                },
                {
                  "type": "string",
                  "description": "Sort direction for account statistics snapshots (older/newer first).",
                  "enum": [
                    "asc",
                    "desc"
                  ]
                }
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Account statistics",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAccountStatisticsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/api/v1/authorize": {
      "post": {
        "tags": [
          "User"
        ],
        "summary": "Authorize User",
        "description": "Authorize and obtain an access token",
        "operationId": "authorize",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuthorizeRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successfully authorized and token generated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthorizeResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/authorize/provision": {
      "post": {
        "tags": [
          "User"
        ],
        "summary": "Provision Canton OIDC Ledger User",
        "description": "Verify an OIDC id_token and ensure a Ledger API user/party exists for its `sub`",
        "operationId": "provision",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CantonProvisionRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Ledger user ensured",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CantonProvisionResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/authorize/whitelist/check": {
      "get": {
        "tags": [
          "User"
        ],
        "operationId": "check_root_whitelist",
        "parameters": [
          {
            "name": "root_address",
            "in": "query",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ]
            }
          },
          {
            "name": "root_public_key",
            "in": "query",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Whitelist status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RootWhitelistResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/api/v1/authorize/whitelist/{root_address}": {
      "put": {
        "tags": [
          "User"
        ],
        "operationId": "add_root_whitelist_entry",
        "parameters": [
          {
            "name": "root_address",
            "in": "path",
            "description": "Canonical or short Aptos root address",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Root address added to whitelist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RootWhitelistResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "root_whitelist_basic_auth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "User"
        ],
        "operationId": "remove_root_whitelist_entry",
        "parameters": [
          {
            "name": "root_address",
            "in": "path",
            "description": "Canonical or short Aptos root address",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Root address removed from whitelist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RootWhitelistResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "root_whitelist_basic_auth": []
          }
        ]
      }
    },
    "/api/v1/competitions": {
      "get": {
        "tags": [
          "competitions"
        ],
        "operationId": "get_public_competitions",
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "oneOf": [
                {
                  "type": "null"
                },
                {
                  "$ref": "#/components/schemas/CompetitionStatus"
                }
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Public competitions list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListCompetitionsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/competitions/{competition_slug}": {
      "get": {
        "tags": [
          "competitions"
        ],
        "operationId": "get_public_competition",
        "parameters": [
          {
            "name": "competition_slug",
            "in": "path",
            "description": "Competition slug",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Public competition detail",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompetitionSummary"
                }
              }
            }
          },
          "404": {
            "description": "Competition not found"
          }
        }
      }
    },
    "/api/v1/competitions/{competition_slug}/leaderboard": {
      "get": {
        "tags": [
          "competitions"
        ],
        "operationId": "get_public_competition_leaderboard",
        "parameters": [
          {
            "name": "competition_slug",
            "in": "path",
            "description": "Competition slug",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": [
                "integer",
                "null"
              ],
              "format": "int32",
              "minimum": 0
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": [
                "integer",
                "null"
              ],
              "format": "int32",
              "minimum": 0
            }
          },
          {
            "name": "sub_account",
            "in": "query",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Public competition leaderboard",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompetitionLeaderboardResponse"
                }
              }
            }
          },
          "404": {
            "description": "Competition not found"
          }
        }
      }
    },
    "/api/v1/execution/list": {
      "get": {
        "tags": [
          "Trade"
        ],
        "summary": "Get Trade History",
        "description": "Query users' execution records, sorted by execTime in descending order.",
        "operationId": "get_trade_history",
        "parameters": [
          {
            "name": "sub_account_address",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "symbol",
            "in": "query",
            "required": false,
            "schema": {
              "oneOf": [
                {
                  "type": "null"
                },
                {
                  "$ref": "#/components/schemas/Symbol"
                }
              ]
            }
          },
          {
            "name": "order_id",
            "in": "query",
            "required": false,
            "schema": {
              "oneOf": [
                {
                  "type": "null"
                },
                {
                  "$ref": "#/components/schemas/OrderId"
                }
              ]
            }
          },
          {
            "name": "order_link_id",
            "in": "query",
            "required": false,
            "schema": {
              "oneOf": [
                {
                  "type": "null"
                },
                {
                  "$ref": "#/components/schemas/OrderLinkId"
                }
              ]
            }
          },
          {
            "name": "start_time",
            "in": "query",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ],
              "format": "date-time"
            }
          },
          {
            "name": "end_time",
            "in": "query",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ],
              "format": "date-time"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": [
                "integer",
                "null"
              ],
              "format": "int32",
              "minimum": 0
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Trade history",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetTradeHistoryResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/api/v1/info": {
      "get": {
        "tags": [
          "System"
        ],
        "summary": "Get system configuration and discovery info",
        "operationId": "get_system_info",
        "responses": {
          "200": {
            "description": "System info retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SystemInfo"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/market/account-ratio": {
      "get": {
        "tags": [
          "Market"
        ],
        "summary": "Get Long Short Ratio",
        "description": "This refers to the net long and short positions as percentages of all position holders during the selected time.\nLong account ratio = Number of holders with long positions / Total number of holders\nShort account ratio = Number of holders with short positions / Total number of holders\nLong-short account ratio = Long account ratio / Short account ratio",
        "operationId": "get_long_short_ratio",
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Symbol"
            }
          },
          {
            "name": "period",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/IntervalTime"
            }
          },
          {
            "name": "start_time",
            "in": "query",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ],
              "format": "date-time"
            }
          },
          {
            "name": "end_time",
            "in": "query",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ],
              "format": "date-time"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": [
                "integer",
                "null"
              ],
              "format": "int32",
              "minimum": 0
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Cursor. Use the next_page_cursor token from the response to retrieve the next page of the data set",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Long short ratio data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetLongShortRatioResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/market/adl-alert": {
      "get": {
        "tags": [
          "Market"
        ],
        "summary": "Get ADL Alerts",
        "description": "Get the latest ADL alert snapshot for one symbol or all pools.",
        "operationId": "get_adl_alert",
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "required": false,
            "schema": {
              "oneOf": [
                {
                  "type": "null"
                },
                {
                  "$ref": "#/components/schemas/Symbol"
                }
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ADL alert snapshots",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAdlAlertsResponse"
                }
              }
            }
          },
          "503": {
            "description": "Trading temporarily unavailable"
          }
        }
      }
    },
    "/api/v1/market/adl-alert/history": {
      "get": {
        "tags": [
          "Market"
        ],
        "summary": "Get ADL Alert History",
        "description": "Get archived ADL alert snapshots for one symbol or all pools.",
        "operationId": "get_adl_alert_history",
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "required": false,
            "schema": {
              "oneOf": [
                {
                  "type": "null"
                },
                {
                  "$ref": "#/components/schemas/Symbol"
                }
              ]
            }
          },
          {
            "name": "start_time",
            "in": "query",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ],
              "format": "date-time"
            }
          },
          {
            "name": "end_time",
            "in": "query",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ],
              "format": "date-time"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": [
                "integer",
                "null"
              ],
              "format": "int32",
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ADL alert history",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAdlAlertsHistoryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/market/funding/history": {
      "get": {
        "tags": [
          "Market"
        ],
        "summary": "Get Funding Rate History",
        "description": "Query for historical funding rates. Each symbol has a different funding interval. For example, if the interval is 8 hours and the current time is UTC 12, then it returns the last funding rate, which settled at UTC 8.",
        "operationId": "get_funding_rate_history",
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Symbol"
            }
          },
          {
            "name": "start_time",
            "in": "query",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ],
              "format": "date-time"
            }
          },
          {
            "name": "end_time",
            "in": "query",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ],
              "format": "date-time"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": [
                "integer",
                "null"
              ],
              "format": "int32",
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Funding rate history",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetFundingRateHistoryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/market/index-price-kline": {
      "get": {
        "tags": [
          "Market"
        ],
        "summary": "Get Index Price Kline",
        "description": "Query for historical index price klines. Charts are returned in groups based on the requested interval.",
        "operationId": "get_index_price_kline",
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Symbol"
            }
          },
          {
            "name": "interval",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Interval"
            }
          },
          {
            "name": "start_time",
            "in": "query",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ],
              "format": "date-time"
            }
          },
          {
            "name": "end_time",
            "in": "query",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ],
              "format": "date-time"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": [
                "integer",
                "null"
              ],
              "format": "int32",
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Klines",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPriceKlineResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/market/instruments-info": {
      "get": {
        "tags": [
          "Market"
        ],
        "operationId": "get_instruments_info",
        "responses": {
          "200": {
            "description": "Get all instruments information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetInstrumentsInfoResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/market/insurance-pool": {
      "get": {
        "tags": [
          "Market"
        ],
        "summary": "Get Insurance Pool",
        "description": "Get the latest insurance pool snapshot for one symbol or all pools.",
        "operationId": "get_insurance_pool",
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "required": false,
            "schema": {
              "oneOf": [
                {
                  "type": "null"
                },
                {
                  "$ref": "#/components/schemas/Symbol"
                }
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Insurance pool snapshots",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetInsurancePoolResponse"
                }
              }
            }
          },
          "503": {
            "description": "Trading temporarily unavailable"
          }
        }
      }
    },
    "/api/v1/market/insurance-pool/history": {
      "get": {
        "tags": [
          "Market"
        ],
        "summary": "Get Insurance Pool History",
        "description": "Get archived insurance pool snapshots for one symbol or all pools.",
        "operationId": "get_insurance_pool_history",
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "required": false,
            "schema": {
              "oneOf": [
                {
                  "type": "null"
                },
                {
                  "$ref": "#/components/schemas/Symbol"
                }
              ]
            }
          },
          {
            "name": "start_time",
            "in": "query",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ],
              "format": "date-time"
            }
          },
          {
            "name": "end_time",
            "in": "query",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ],
              "format": "date-time"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": [
                "integer",
                "null"
              ],
              "format": "int32",
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Insurance pool history",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetInsurancePoolHistoryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/market/kline": {
      "get": {
        "tags": [
          "Market"
        ],
        "summary": "Get Kline",
        "description": "Query for historical klines (also known as candles/candlesticks). Charts are returned in groups based on the requested interval.",
        "operationId": "get_kline",
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Symbol"
            }
          },
          {
            "name": "interval",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Interval"
            }
          },
          {
            "name": "start_time",
            "in": "query",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ],
              "format": "date-time"
            }
          },
          {
            "name": "end_time",
            "in": "query",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ],
              "format": "date-time"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": [
                "integer",
                "null"
              ],
              "format": "int32",
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Klines",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetKlineResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/market/mark-price-kline": {
      "get": {
        "tags": [
          "Market"
        ],
        "summary": "Get Mark Price Kline",
        "description": "Query for historical mark price klines. Charts are returned in groups based on the requested interval.",
        "operationId": "get_mark_price_kline",
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Symbol"
            }
          },
          {
            "name": "interval",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Interval"
            }
          },
          {
            "name": "start_time",
            "in": "query",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ],
              "format": "date-time"
            }
          },
          {
            "name": "end_time",
            "in": "query",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ],
              "format": "date-time"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": [
                "integer",
                "null"
              ],
              "format": "int32",
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Klines",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPriceKlineResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/market/open-interest": {
      "get": {
        "tags": [
          "Market"
        ],
        "summary": "Get Open Interest",
        "description": "Get historical open interest snapshots for one symbol. Values are returned as closed interval buckets sorted newest first.",
        "operationId": "get_open_interest",
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Symbol"
            }
          },
          {
            "name": "interval",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/IntervalTime"
            }
          },
          {
            "name": "start_time",
            "in": "query",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ],
              "format": "date-time"
            }
          },
          {
            "name": "end_time",
            "in": "query",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ],
              "format": "date-time"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": [
                "integer",
                "null"
              ],
              "format": "int32",
              "minimum": 0
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Open interest data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetOpenInterestResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/market/orderbook": {
      "get": {
        "tags": [
          "Market"
        ],
        "summary": "Get Orderbook",
        "description": "Query for orderbook depth data.",
        "operationId": "get_orderbook",
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Symbol"
            }
          },
          {
            "name": "depth",
            "in": "query",
            "description": "Depth level",
            "required": false,
            "schema": {
              "oneOf": [
                {
                  "type": "null"
                },
                {
                  "$ref": "#/components/schemas/Depth"
                }
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Orderbook",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetOrderBookResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/market/price-limit": {
      "get": {
        "tags": [
          "Market"
        ],
        "summary": "Get Order Price Limit",
        "description": "Query for order price limit parameters.",
        "operationId": "get_order_price_limit",
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Symbol"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Order price limit",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderPriceLimit"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/market/recent-trade": {
      "get": {
        "tags": [
          "Market"
        ],
        "summary": "Get Recent Trades",
        "description": "Query for recent public trades, optionally filtered by symbol.",
        "operationId": "get_recent_trade",
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "required": false,
            "schema": {
              "oneOf": [
                {
                  "type": "null"
                },
                {
                  "$ref": "#/components/schemas/Symbol"
                }
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": [
                "integer",
                "null"
              ],
              "format": "int32",
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Recent trades",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetRecentTradeResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          }
        }
      }
    },
    "/api/v1/market/risk-limit": {
      "get": {
        "tags": [
          "Market"
        ],
        "summary": "Get Risk Limit",
        "description": "Query for the risk limit margin parameters.",
        "operationId": "get_risk_limit",
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "required": false,
            "schema": {
              "oneOf": [
                {
                  "type": "null"
                },
                {
                  "$ref": "#/components/schemas/Symbol"
                }
              ]
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Cursor. Use the next_page_cursor token from the response to retrieve the next page of the data set",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Risk limit",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetRiskLimitResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/market/stats": {
      "get": {
        "tags": [
          "Market"
        ],
        "summary": "Get Stats",
        "description": "Query for period-filtered turnover, trades, open interest, and per-market stats.",
        "operationId": "get_stats",
        "parameters": [
          {
            "name": "period",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Stats period. `24h`, `7d`, `30d`, or `all_time`.",
              "enum": [
                "24h",
                "7d",
                "30d",
                "all_time"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Stats",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetStatsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          }
        }
      }
    },
    "/api/v1/market/stats/volume": {
      "get": {
        "tags": [
          "Market"
        ],
        "summary": "Get Stats Volume",
        "description": "Query for turnover time series and 24h/7d/30d/all_time aggregates.",
        "operationId": "get_stats_volume",
        "parameters": [
          {
            "name": "period",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Stats period. `24h`, `7d`, `30d`, or `all_time`.",
              "enum": [
                "24h",
                "7d",
                "30d",
                "all_time"
              ]
            }
          },
          {
            "name": "symbol",
            "in": "query",
            "required": false,
            "schema": {
              "oneOf": [
                {
                  "type": "null"
                },
                {
                  "$ref": "#/components/schemas/Symbol"
                }
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Turnover series",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetStatsVolumeResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          }
        }
      }
    },
    "/api/v1/market/tickers": {
      "get": {
        "tags": [
          "Market"
        ],
        "summary": "Get Tickers",
        "description": "Query for the latest price snapshot, best bid/ask price, and trading volume in the last 24 hours.",
        "operationId": "get_tickers",
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "required": false,
            "schema": {
              "oneOf": [
                {
                  "type": "null"
                },
                {
                  "$ref": "#/components/schemas/Symbol"
                }
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Tickers",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetTickersResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found: tickers"
          }
        }
      }
    },
    "/api/v1/order/amend": {
      "post": {
        "tags": [
          "Trade"
        ],
        "summary": "Amend Order",
        "description": "Amend an existing order",
        "operationId": "amend_order",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AmendOrderRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Order amended",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AmendOrderResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/api/v1/order/amend-batch": {
      "post": {
        "tags": [
          "Trade"
        ],
        "summary": "Batch Amend Orders",
        "description": "Amend multiple existing orders in a single request",
        "operationId": "batch_amend_orders",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchAmendOrdersRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Orders amended",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchAmendOrdersResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/api/v1/order/cancel": {
      "post": {
        "tags": [
          "Trade"
        ],
        "summary": "Cancel Order",
        "description": "Cancel an existing order",
        "operationId": "cancel_order",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CancelOrderRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Order canceled",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CancelOrderResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/api/v1/order/cancel-all": {
      "post": {
        "tags": [
          "Trade"
        ],
        "summary": "Cancel All Orders",
        "description": "Cancel all existing orders for a sub-account. Optionally filtered by symbol; omit symbol to cancel open orders across all markets.",
        "operationId": "cancel_all_orders",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CancelAllOrdersRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Orders canceled",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CancelAllOrdersResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/api/v1/order/cancel-batch": {
      "post": {
        "tags": [
          "Trade"
        ],
        "summary": "Batch Cancel Orders",
        "description": "Cancel multiple existing orders in a single request",
        "operationId": "batch_cancel_orders",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchCancelOrdersRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Orders canceled",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchCancelOrdersResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/api/v1/order/history": {
      "get": {
        "tags": [
          "Trade"
        ],
        "summary": "Get Order History",
        "description": "Query order history. As order creation/cancellation is asynchronous, the data returned from this endpoint may delay.",
        "operationId": "get_history_orders",
        "parameters": [
          {
            "name": "sub_account_address",
            "in": "query",
            "description": "Trading vault address (subaccount) to query against.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "symbol",
            "in": "query",
            "required": false,
            "schema": {
              "oneOf": [
                {
                  "type": "null"
                },
                {
                  "$ref": "#/components/schemas/Symbol"
                }
              ]
            }
          },
          {
            "name": "order_id",
            "in": "query",
            "required": false,
            "schema": {
              "oneOf": [
                {
                  "type": "null"
                },
                {
                  "$ref": "#/components/schemas/OrderId"
                }
              ]
            }
          },
          {
            "name": "order_link_id",
            "in": "query",
            "required": false,
            "schema": {
              "oneOf": [
                {
                  "type": "null"
                },
                {
                  "$ref": "#/components/schemas/OrderLinkId"
                }
              ]
            }
          },
          {
            "name": "order_filter",
            "in": "query",
            "required": false,
            "schema": {
              "oneOf": [
                {
                  "type": "null"
                },
                {
                  "$ref": "#/components/schemas/OrderFilter"
                }
              ]
            }
          },
          {
            "name": "order_status",
            "in": "query",
            "required": false,
            "schema": {
              "type": [
                "array",
                "null"
              ],
              "items": {
                "$ref": "#/components/schemas/OrderStatus"
              }
            }
          },
          {
            "name": "start_time",
            "in": "query",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ],
              "format": "date-time"
            }
          },
          {
            "name": "end_time",
            "in": "query",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ],
              "format": "date-time"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": [
                "integer",
                "null"
              ],
              "format": "int32",
              "minimum": 0
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Orders",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderListResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/api/v1/order/place": {
      "post": {
        "tags": [
          "Trade"
        ],
        "summary": "Place Order",
        "description": "Create a new order",
        "operationId": "place_order",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PlaceOrderRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Order placed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlaceOrderResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/api/v1/order/place-batch": {
      "post": {
        "tags": [
          "Trade"
        ],
        "summary": "Batch Place Orders",
        "description": "Create multiple new orders in a single request",
        "operationId": "batch_place_orders",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchPlaceOrdersRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Orders placed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchPlaceOrdersResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/api/v1/order/realtime": {
      "get": {
        "tags": [
          "Trade"
        ],
        "summary": "Get Open & Closed Orders",
        "description": "Primarily query unfilled or partially filled orders in real-time, but also supports querying recent 500 closed status (Cancelled, Filled) orders. Please see the usage of request param open_only.",
        "operationId": "get_realtime_orders",
        "parameters": [
          {
            "name": "sub_account_address",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "symbol",
            "in": "query",
            "description": "Symbol name",
            "required": false,
            "schema": {
              "oneOf": [
                {
                  "type": "null"
                },
                {
                  "$ref": "#/components/schemas/Symbol"
                }
              ]
            }
          },
          {
            "name": "order_id",
            "in": "query",
            "description": "Order ID",
            "required": false,
            "schema": {
              "oneOf": [
                {
                  "type": "null"
                },
                {
                  "$ref": "#/components/schemas/OrderId"
                }
              ]
            }
          },
          {
            "name": "order_link_id",
            "in": "query",
            "description": "User customised order ID",
            "required": false,
            "schema": {
              "oneOf": [
                {
                  "type": "null"
                },
                {
                  "$ref": "#/components/schemas/OrderLinkId"
                }
              ]
            }
          },
          {
            "name": "open_only",
            "in": "query",
            "description": "* `true` (default): query open status orders (New or PartiallyFilled).\n* `false`: query a maximum of recent 500 closed status orders (Cancelled, Rejected, Filled).",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "order_filter",
            "in": "query",
            "required": false,
            "schema": {
              "oneOf": [
                {
                  "type": "null"
                },
                {
                  "$ref": "#/components/schemas/OrderFilter"
                }
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": [
                "integer",
                "null"
              ],
              "format": "int32",
              "minimum": 0
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Orders",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderListResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/api/v1/position/closed-pnl": {
      "get": {
        "tags": [
          "Position"
        ],
        "summary": "Get Closed PnL",
        "description": "Query user's closed profit and loss records",
        "operationId": "get_closed_pnl",
        "parameters": [
          {
            "name": "sub_account_address",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "symbol",
            "in": "query",
            "required": false,
            "schema": {
              "oneOf": [
                {
                  "type": "null"
                },
                {
                  "$ref": "#/components/schemas/Symbol"
                }
              ]
            }
          },
          {
            "name": "start_time",
            "in": "query",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ],
              "format": "date-time"
            }
          },
          {
            "name": "end_time",
            "in": "query",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ],
              "format": "date-time"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": [
                "integer",
                "null"
              ],
              "format": "int32",
              "minimum": 0
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Closed PnL",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetClosedPnlResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/api/v1/position/list": {
      "get": {
        "tags": [
          "Position"
        ],
        "summary": "Get Position Info",
        "description": "Query real-time position data, such as position size, cumulative realized PNL, etc.",
        "operationId": "get_position_info",
        "parameters": [
          {
            "name": "sub_account_address",
            "in": "query",
            "description": "Trading vault address (subaccount) to query against.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "symbol",
            "in": "query",
            "required": false,
            "schema": {
              "oneOf": [
                {
                  "type": "null"
                },
                {
                  "$ref": "#/components/schemas/Symbol"
                }
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": [
                "integer",
                "null"
              ],
              "format": "int32",
              "minimum": 0
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Positions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPositionInfoResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/api/v1/position/set-leverage": {
      "post": {
        "tags": [
          "Position"
        ],
        "summary": "Set leverage",
        "description": "Set leverage for a symbol",
        "operationId": "set_leverage",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SetLeverageRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Leverage updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SetLeverageResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/api/v1/position/trading-stop": {
      "post": {
        "tags": [
          "Position"
        ],
        "summary": "Set Trading Stop",
        "description": "Set the take profit, stop loss or trailing stop for the position.",
        "operationId": "set_trading_stop",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SetTradingStopRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Trading stop set",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SetTradingStopResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/api/v1/referral/click": {
      "post": {
        "tags": [
          "User"
        ],
        "operationId": "record_referral_click",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RecordReferralClickRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Click recorded"
          },
          "400": {
            "description": "Malformed code"
          }
        }
      }
    },
    "/api/v1/user/access": {
      "get": {
        "tags": [
          "User"
        ],
        "operationId": "get_user_access",
        "responses": {
          "200": {
            "description": "Stage-1 access standing",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccessStatusResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/api/v1/user/access/activate": {
      "post": {
        "tags": [
          "User"
        ],
        "operationId": "activate_user_access",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ActivateAccessRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Wallet activated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccessActivateResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid, expired, or revoked code"
          },
          "403": {
            "description": "Bound sub-account session"
          },
          "404": {
            "description": "Access module disabled"
          },
          "409": {
            "description": "Code already used or wallet already activated"
          },
          "429": {
            "description": "Rate limited"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/api/v1/user/affiliate": {
      "get": {
        "tags": [
          "User"
        ],
        "operationId": "get_user_affiliate",
        "responses": {
          "200": {
            "description": "Affiliate dashboard",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AffiliateDashboardResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not an affiliate"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/api/v1/user/api-keys": {
      "get": {
        "tags": [
          "user"
        ],
        "operationId": "list_api_keys",
        "responses": {
          "200": {
            "description": "List API keys",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListApiKeysResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      },
      "post": {
        "tags": [
          "user"
        ],
        "operationId": "create_api_key",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateApiKeyRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "API key created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateApiKeyResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/api/v1/user/api-keys/{id}": {
      "delete": {
        "tags": [
          "user"
        ],
        "operationId": "revoke_api_key",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "API Key ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "API key revoked"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "API key not found"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/api/v1/user/competitions": {
      "get": {
        "tags": [
          "user"
        ],
        "operationId": "get_competitions",
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "oneOf": [
                {
                  "type": "null"
                },
                {
                  "$ref": "#/components/schemas/CompetitionStatus"
                }
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Competitions list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListCompetitionsResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/api/v1/user/competitions/{competition_id}/leaderboard": {
      "get": {
        "tags": [
          "user"
        ],
        "operationId": "get_competition_leaderboard",
        "parameters": [
          {
            "name": "competition_id",
            "in": "path",
            "description": "Competition UUID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": [
                "integer",
                "null"
              ],
              "format": "int32",
              "minimum": 0
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": [
                "integer",
                "null"
              ],
              "format": "int32",
              "minimum": 0
            }
          },
          {
            "name": "sub_account",
            "in": "query",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Competition leaderboard",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompetitionLeaderboardResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Competition not found"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/api/v1/user/competitions/{competition_id}/placement": {
      "get": {
        "tags": [
          "user"
        ],
        "operationId": "get_competition_placement",
        "parameters": [
          {
            "name": "competition_id",
            "in": "path",
            "description": "Competition UUID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sub_account",
            "in": "query",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Own competition placement",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompetitionPlacementResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Competition not found"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/api/v1/user/invite-codes": {
      "get": {
        "tags": [
          "User"
        ],
        "operationId": "get_user_invite_codes",
        "responses": {
          "200": {
            "description": "Earned invite-code standing",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InviteCodesResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      },
      "post": {
        "tags": [
          "User"
        ],
        "operationId": "post_user_invite_codes",
        "responses": {
          "200": {
            "description": "One earned code minted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MintInviteCodeResponse"
                }
              }
            }
          },
          "409": {
            "description": "No earned code available to claim"
          },
          "429": {
            "description": "Rate limited"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/api/v1/user/leaderboard": {
      "get": {
        "tags": [
          "Leaderboard"
        ],
        "summary": "Get Leaderboard",
        "description": "Paginated subaccount leaderboard ranked by PnL. Realized + unrealized (mark-to-market). Timeframe required: today, 7d, 30d, all. Default limit 10, max 100.",
        "operationId": "get_leaderboard",
        "parameters": [
          {
            "name": "offset",
            "in": "query",
            "description": "Pagination offset (default 0).",
            "required": false,
            "schema": {
              "type": [
                "integer",
                "null"
              ],
              "format": "int32",
              "minimum": 0
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Max number of entries to return (default 10, max 100).",
            "required": false,
            "schema": {
              "type": [
                "integer",
                "null"
              ],
              "format": "int32",
              "minimum": 0
            }
          },
          {
            "name": "timeframe",
            "in": "query",
            "description": "Ranking window.",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Leaderboard ranking window: today, last 7 days, last 30 days, or all time.",
              "enum": [
                "today",
                "7d",
                "30d",
                "all"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Leaderboard",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LeaderboardResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/user/leaderboard/placement": {
      "get": {
        "tags": [
          "Leaderboard"
        ],
        "summary": "Get Leaderboard Placement",
        "description": "Placement(s) for the authenticated user. When sub_account is omitted, returns one entry per user trading subaccount; otherwise exactly one entry. When the user has no trading subaccounts, data is an empty array. If the account is not ranked, ranked is false and place is \"0\".",
        "operationId": "get_leaderboard_placement",
        "parameters": [
          {
            "name": "sub_account",
            "in": "query",
            "description": "When set, return placement for this subaccount only; otherwise one entry per subaccount.",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ]
            }
          },
          {
            "name": "timeframe",
            "in": "query",
            "description": "Ranking window.",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Leaderboard ranking window: today, last 7 days, last 30 days, or all time.",
              "enum": [
                "today",
                "7d",
                "30d",
                "all"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Placements (ranked false when not on board)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LeaderboardPlacementResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request (invalid sub_account or address)"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/api/v1/user/quests": {
      "get": {
        "tags": [
          "User"
        ],
        "operationId": "get_user_quests",
        "responses": {
          "200": {
            "description": "Active quests with claim state",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserQuestsResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/api/v1/user/quests/{quest_id}/claim": {
      "post": {
        "tags": [
          "User"
        ],
        "operationId": "claim_user_quest",
        "parameters": [
          {
            "name": "quest_id",
            "in": "path",
            "description": "Quest UUID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Quest claimed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClaimQuestResponse"
                }
              }
            }
          },
          "400": {
            "description": "Repeat, inactive, or ineligible claim"
          },
          "404": {
            "description": "Unknown quest"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/api/v1/user/referral": {
      "get": {
        "tags": [
          "User"
        ],
        "operationId": "get_referral_summary",
        "responses": {
          "200": {
            "description": "Referral summary",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReferralSummaryResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      },
      "post": {
        "tags": [
          "User"
        ],
        "operationId": "bind_referral",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BindReferralRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Referral summary",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReferralSummaryResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/api/v1/user/referral-codes": {
      "get": {
        "tags": [
          "User"
        ],
        "operationId": "list_referral_codes",
        "responses": {
          "200": {
            "description": "List referral codes",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListReferralCodesResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      },
      "post": {
        "tags": [
          "User"
        ],
        "operationId": "create_referral_code",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateReferralCodeRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Referral code created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReferralCodeInfo"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/api/v1/user/referral-codes/{code_id}": {
      "delete": {
        "tags": [
          "User"
        ],
        "operationId": "delete_referral_code",
        "parameters": [
          {
            "name": "code_id",
            "in": "path",
            "description": "Referral code ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Referral code deleted"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Referral code not found"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/api/v1/user/rewards": {
      "get": {
        "tags": [
          "User"
        ],
        "operationId": "get_rewards_summary",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Ledger page size (default 20, max 100).",
            "required": false,
            "schema": {
              "type": [
                "integer",
                "null"
              ],
              "format": "int32",
              "minimum": 0
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Opaque cursor from a previous response's `next_cursor`.",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Reward summary",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RewardSummaryResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/api/v1/user/root-account": {
      "get": {
        "tags": [
          "User"
        ],
        "summary": "Get Root Account",
        "description": "Return the Root Account address for the current user",
        "operationId": "get_root_account",
        "responses": {
          "200": {
            "description": "Root Account",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetRootAccountResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/api/v1/user/season-claim/redeem": {
      "post": {
        "tags": [
          "User"
        ],
        "summary": "`POST /user/season-claim/redeem` — verifies a season-claim voucher issued\nby the testnet side and redeems it (merging the testnet root's XP into\nthe caller's mainnet account), or dry-runs the entitlement when\n`preview` is set. Root-only, same as the issue side.",
        "operationId": "redeem_season_claim",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RedeemSeasonClaimRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Redemption outcome",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RedeemSeasonClaimResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/api/v1/user/season-claim/voucher": {
      "post": {
        "tags": [
          "User"
        ],
        "summary": "`POST /user/season-claim/voucher` — issues a short-lived, server-signed\nvoucher attesting the caller's testnet root address. Root-only: a signed\nbearer proof of the wallet's identity is only meaningful for the wallet\nthat owns it.",
        "operationId": "issue_season_claim_voucher",
        "responses": {
          "200": {
            "description": "Season-claim voucher",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SeasonClaimVoucherResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/api/v1/user/sub-accounts": {
      "get": {
        "tags": [
          "User"
        ],
        "summary": "Get Sub Accounts",
        "description": "List Sub Accounts under the Root Account",
        "operationId": "get_sub_accounts",
        "responses": {
          "200": {
            "description": "Sub Accounts",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetSubAccountsResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "AccessActivateRequest": {
        "type": "object",
        "description": "Public Stage 1 activation request (spec §4). The caller is NOT yet\nwhitelisted. The wallet signs a canonical message that binds the code hash,\nits root address, and `signed_at`:\n`ekiden-stage1-activate:{sha256(normalized code)}:{root_address}:{signed_at}`\nusing the same wallet-signature scheme JWT login uses. The root address is\nderived from `public_key` (never trusted from the client), exactly as\n`/authorize` does.",
        "required": [
          "code",
          "public_key",
          "signed_at",
          "signature"
        ],
        "properties": {
          "code": {
            "type": "string",
            "description": "Plaintext access code. Normalized (trim + uppercase) and hashed\nserver-side; the plaintext is never persisted (S1-D5)."
          },
          "nonce": {
            "type": [
              "string",
              "null"
            ],
            "description": "Replay nonce bound into the Canton activation message. REQUIRED on the\nCanton rail, ignored on Aptos."
          },
          "party_id": {
            "type": [
              "string",
              "null"
            ],
            "description": "Canton party id (`<hint>::<fingerprint>`). REQUIRED on the Canton rail,\nignored on Aptos.\n\nCanton has no address derivable from the public key alone, so the wallet\nsigns for its party and the server derives the root from that party —\nthe same identity `/authorize` uses. The party's `::<fingerprint>` suffix\ncommits to the public key, so a caller cannot claim someone else's party."
          },
          "public_key": {
            "type": "string",
            "description": "Wallet public key, same encoding as `/authorize`'s `public_key`."
          },
          "signature": {
            "type": "string",
            "description": "Wallet signature over the canonical activation message."
          },
          "signed_at": {
            "type": "integer",
            "format": "int64",
            "description": "Unix seconds at which the message was signed. Must be within the\nconfigured signature window of server time."
          }
        }
      },
      "AccessActivateResponse": {
        "type": "object",
        "required": [
          "activated",
          "multiplier_bps",
          "badge"
        ],
        "properties": {
          "activated": {
            "type": "boolean"
          },
          "badge": {
            "type": "boolean"
          },
          "multiplier_bps": {
            "type": "integer",
            "format": "int32",
            "minimum": 0
          }
        }
      },
      "AccessStatusResponse": {
        "type": "object",
        "description": "`GET /user/access` response (spec §6): the authenticated wallet's Stage-1\nstanding — whether it activated, its cosmetic badge, and its granted\nmultiplier (null when never activated).",
        "required": [
          "activated",
          "stage1_badge",
          "allocation_reserved"
        ],
        "properties": {
          "activated": {
            "type": "boolean",
            "description": "True once this wallet has activated a closed-launch access code."
          },
          "allocation_reserved": {
            "type": "boolean",
            "description": "Whether a future airdrop allocation is reserved for this wallet\n(season1-conversion §5, S2-D3): true for every activated wallet, false\notherwise. The allocation itself is out of scope; this is the persistence\nhook that survives the Stage-1 gate-off."
          },
          "multiplier_bps": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int32",
            "description": "Granted activation multiplier in bps; null when never activated.",
            "minimum": 0
          },
          "stage1_badge": {
            "type": "boolean",
            "description": "Cosmetic Stage-1 badge (spec §6); false for un-activated wallets."
          }
        }
      },
      "AccountBalance": {
        "type": "object",
        "description": "Account-wide wallet and margin metrics.",
        "required": [
          "sub_account_address",
          "account_type",
          "equity",
          "vault_balance",
          "margin_balance",
          "available_balance",
          "accrued_interest",
          "total_order_im",
          "total_position_im",
          "total_position_mm",
          "unrealised_pnl",
          "unrealized_funding",
          "realised_pnl_cum"
        ],
        "properties": {
          "account_type": {
            "type": "string",
            "description": "Account type (e.g. Funding, Trading)"
          },
          "accrued_interest": {
            "type": "string",
            "description": "Accrued interest"
          },
          "available_balance": {
            "type": "string",
            "description": "The amount of an asset that can be used to open USDC Perpetual positions (USDC)"
          },
          "equity": {
            "type": "string",
            "description": "Equity under the account without considering the collateral value ratio (calculated in USDC).\nEquity = Vault Balance + Perp & Futures Unrealized P&L + Unrealized Funding"
          },
          "margin_balance": {
            "type": "string",
            "description": "Amount that can be used as margin under the account\nafter considering the collateral value ratio (calculated in USDC)\nTotal Vault Balance + Perp Unrealized P&L"
          },
          "realised_pnl_cum": {
            "type": "string",
            "description": "Cumulative Realised P&L"
          },
          "sub_account_address": {
            "type": "string",
            "description": "Sub-Account address (the owner of the technical vault)"
          },
          "total_order_im": {
            "type": "string",
            "description": "Pre-occupied margin for order. Locked balance (USDC)"
          },
          "total_position_im": {
            "type": "string",
            "description": "Sum of initial margin of all positions."
          },
          "total_position_mm": {
            "type": "string",
            "description": "Sum of maintenance margin for all positions, including estimated close fees."
          },
          "unrealised_pnl": {
            "type": "string",
            "description": "Unrealised P&L"
          },
          "unrealized_funding": {
            "type": "string",
            "description": "Aggregated unrealized funding across all positions (USDC)"
          },
          "vault_balance": {
            "type": "string",
            "description": "Vault Balance (USDC)"
          }
        }
      },
      "AccountStatistics": {
        "type": "object",
        "required": [
          "sub_account_address",
          "equity",
          "realised_pnl_cum",
          "unrealised_pnl",
          "volume",
          "roi",
          "timestamp"
        ],
        "properties": {
          "equity": {
            "type": "string"
          },
          "realised_pnl_cum": {
            "type": "string",
            "description": "Cumulative realized PnL of the closed positions, fees, and funding."
          },
          "roi": {
            "type": "string"
          },
          "sub_account_address": {
            "type": "string"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          },
          "unrealised_pnl": {
            "type": "string",
            "description": "Unrealized PnL of the current open positions."
          },
          "volume": {
            "type": "string"
          }
        }
      },
[...]
